body {
  background-color: black;
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: yellow;
  border-radius: 5px;
  padding: 3px;
  width: 70px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border-radius: 5px;
}

p {
  color: yellow;
}
