body {
  background-color: black;
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: yellow;
  border-radius: 5px;
  padding: 3px;
  width: 70px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border-radius: 5px;
}

p {
  background-image: linear-gradient(
    to left,
    violet,
    skyblue,
    rgb(145, 145, 249),
    rgb(146, 228, 146),
    magenta,
    orange,
    yellow
  );
  background-clip: text;
  color: transparent;
  font-size: 1em;
  font-weight: bold;
  display: flex;
}

.count {
  transform: translateY(-20px);
  color: rgb(130, 162, 219);
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

a {
  color: rgb(237, 164, 27);
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
